*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    width: 420px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px #00000070;
}
.top-section{
    padding: 60px 10px;
    background: #2c2c54aa;
}
.message,.notif{
    position: absolute;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff50;
}
.message{
    right: 40px;
}
.notif{
    left: 40px;
}
.pic{
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 20px;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}